:root {
  --bg-header: #1e1e1e;
  --color-border-bottom: #343434;
}

.header-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: all 0.5s ease;
}
.header-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-header);
  border-bottom: 1px solid var(--color-border-bottom);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.header-dark::after {
  opacity: 1;
}
.header-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.header-navbar-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}
.header-navbar-link {
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px rgb(92, 92, 92);
  padding: 0px;
  margin: 15px;
}

.header-navbar-link a {
  text-decoration: underline var(--primary-color);
  color: white;
}
.header-navbar-link a:hover {
  filter: brightness(0.8);
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 10px;
  width: 60px;
  height: 60px;
}
#Abstraktes_Logo {
  margin: 10px;
  fill: #ffffff;
  transition-duration: 0.5s;
  filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.6));
}

#Abstraktes_Logo:hover path:nth-child(1) {
  animation: rotate_right 0.5s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
/*Teil unten*/
#Abstraktes_Logo:hover path:nth-child(2) {
  /*animation:rotate_bottom 1s forwards;*/
  transform-origin: center;
  transform-box: fill-box;
}
#Abstraktes_Logo:hover path:nth-child(3) {
  animation: rotate_left 0.5s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
#Abstraktes_Logo:hover circle {
  animation: rotate_kreis 0.5s forwards;
  transform-origin: center;
  transform-box: fill-box;
}

#Abstraktes_Logo path:nth-child(1) {
  animation: rotate_right_out 0.5s forwards;
  transform-origin: center;
  transform-box: fill-box;
}

#Abstraktes_Logo path:nth-child(2) {
  transform-origin: center;
  transform-box: fill-box;
}
#Abstraktes_Logo path:nth-child(3) {
  animation: rotate_left_out 0.5s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
#Abstraktes_Logo circle {
  animation: rotate_kreis_out 0.5s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
.header-burger-menu {
  display: none;
}
/* .header-navbar-link-container-responsive {
  display: none;
} */
.header-navbar-link-container-burger-menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header-navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-header);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .header-navbar-link-container {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 2px;
    transition: all 0.5s ease;
  }

  .burger-menu-icon {
    position: relative;
    width: 2em;
  }
  .burger-lines,
  .burger-lines:before,
  .burger-lines:after {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    background: #ffffff;
    border-radius: 2px;
    transition: 0.3s;
  }

  .burger-lines {
    height: 3px;
  }
  .burger-lines:before,
  .burger-lines:after {
    content: "";
    height: 100%;
  }

  .burger-lines:before {
    top: 8px;
  }

  .burger-lines:after {
    top: -8px;
  }
  .header-burger-menu[data-state="open"] .burger-lines {
    background: transparent;
  }
  .header-burger-menu[data-state="open"] .burger-lines:before {
    top: 0;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, 45deg);
  }
  .header-burger-menu[data-state="open"] .burger-lines:after {
    top: 0;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, -45deg);
  }

  .header-navbar-link-container-burger-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-header);
  }

  .header-navbar-link-container-burger-menu a {
    color: white;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid var(--primary-color);
  }
  .burger-menu-fade-out {
    animation: fadeOutBurgerMenu 0.5s;
  }
  .burger-menu-fade-in {
    animation: fadeInBurgerMenu 0.5s;
  }
}
