.aboutus {
  &__text-box,
  &__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-wrapper {
    border-radius: 50px;
    background-color: $darkColor;
    padding: 20px;
    margin: 50px 10px 50px 10px;
    flex-wrap: wrap;
    > img {
      @include img(50px, 300px, 250px);
      flex: 1 1 0px;
    }
  }
  &__text-box {
    flex-direction: column;
    flex: 1 1 0px;
    min-width: 300px;
    color: $primaryColor;
    padding: 20px;
    > h2 {
      width: 100%;
      margin: 10px 0px 10px 0px;
    }
  }
}
