.course-schedule {
  &__headline {
    font-size: 44px;
    color: $primaryColor;
  }
  &__grid {
    --gap: 2em;
    --line-thickness: 2px;
    --line-offset: calc(var(--gap) / 2);

    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    color: $darkColor;
    margin: 50px;
    gap: var(--gap);
    overflow: hidden;
  }
  &__grid > &__box {
    position: relative;
  }
  &__grid > &__box::before,
  &__grid > &__box::after {
    content: "";
    position: absolute;
    background-color: $darkColor;
  }
  // Rows
  &__grid > &__box::after {
    top: calc(var(--line-offset) * -1);
    left: 0;
    width: 100vw;
    height: 2px;
  }

  // Columns
  &__grid > &__box::before {
    top: 0;
    left: calc(var(--line-offset) * -1);
    width: 2px;
    height: 100vh;
  }
  &__box {
    h3 {
      margin: 5px;
    }
  }
  &__time-box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    margin: 5px;

    span:nth-child(1) {
      font-weight: bold;
    }
    span:nth-child(2) {
      text-align: start;
    }
    span:nth-child(3) {
      text-align: right;
    }
  }
  @media screen and (max-width: 400px) {
    &__grid {
      margin: 50px 10px 50px 10px;
      font-size: small;
    }
  }
}
