:root {
  --bg-footer: #444444;
  --footer-font-color: #dfd1c9;
}
.footer{

&__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-footer);
  width: 100%;
  margin-top: auto;
  color: var(--footer-font-color);
}
&__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding-top: 15px;
}
&__social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
&__social-icon {
  font-size: 25px;
  margin: 10px;
  color: var(--footer-font-color);
}
&__navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--footer-font-color);
}
&__navigation-container a {
  color: var(--footer-font-color);
  text-decoration: none;
  margin: 10px;
}
&__contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  width: 100%;
  margin-top: 10px;
}

&__contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
&__contact-email svg {
  margin: 0px 10px 5px 0px;
}
&__contact-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
&__contact-phone svg {
  margin: 2px 10px 0px 0px;
}
&__contact-address {
  display: flex;
  align-items: center;
  justify-content: center;
}
&__contact-address svg {
  margin-right: 10px;
}

&__legal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: small;
}
&__legal-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
}
&__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 10px;
}
&__legal-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}
&__legal-links a {
  color: var(--footer-font-color);
  text-decoration: none;
  margin-left: 10px;
}
&__legal-links a:first-child {
  margin-left: 0px;
}
&__legal-links a:first-child::after {
  content: "|";
  margin-left: 10px;
  color: var(--footer-font-color);
}

&__container-mobile{
  display: none;
}
@media screen and (max-width: 768px) {
  &__container {
    display: none;
  }
  &__container-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }
  &__navigation-container {
    flex-direction: column;
    padding: 0px;
    border-bottom: none;
  }
  &__navigation-container a{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid var(--footer-font-color);
  }
 
  &__contact-container{
    flex-direction: column;
  }
  
  &__legal-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    font-size: small;
  }
  &__legal-info{
    margin: 0px;
    justify-content: center;
    width: auto;
  }
  &__info{
    margin: 0px;
    justify-content: center;
    width: auto;
  }
  &__legal-links{
    margin: 0px;
    width: auto;
  }
}
}
.icons {
  height: 25px;
  width: 25px;
  fill: none;
  stroke: var(--footer-font-color);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}